body {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
}

.crew-header {
  position: absolute;
  left: 166.5px;
  top: 212px;
}

.crew-header-number {
  font-weight: 700;
  opacity: 0.25;
  color: white;
}

.crew-header-text {
  margin-left: 28px;
  color: white;
}

.crew-details {
  position: absolute;
  top: 400px;
  left: 165.5px;
}

.crew-details-title {
  opacity: 0.5;
  margin-bottom: 15px;
}

.crew-details-text {
  color: #D0D6F9;
  width: 444px;
  margin-top: 27px;
}

.crew-nav {
  margin-top: 120px;
}

.crew-nav-link {
  width: 15px;
  height: 15px;
  background-color: #FFFFFF;
  opacity: 0.17;
  display: inline-block;
  margin-right: 24px;
  border-radius: 50%;
}

.crew-nav-link:hover {
  opacity: 0.5;
}

.crew-nav-link-active {
  opacity: 1;
}

.crew-image {
  background-repeat: no-repeat;
  background-position: bottom;
  width: 700.07px;
  height: 80%;
  position: absolute;
  left: 734.93px;
  bottom: 0;
}

.crew-image-commander {
  background-image: url(../assets/crew/image-douglas-hurley.png);
}

.crew-image-specialist {
  background-image: url(../assets/crew/image-mark-shuttleworth.png);
}

.crew-image-pilot {
  background-image: url(../assets/crew/image-victor-glover.png);
}

.crew-image-engineer {
  background-image: url(../assets/crew/image-anousheh-ansari.png);
}

@media only screen and (max-width: 1150px) {
  body {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }

  h3 {
    font-size: 40px;
    line-height: 46px;
  }

  .crew-header {
    left: 38.5px;
    top: 136px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  .crew-details {
    top: 220px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 458px;
  }

  .crew-details-text {
    width: auto;
    font-size: 16px;
    line-height: 28px;
  }

  .crew-details {
    font-size: 16px;
  }

  .crew-details-title {
    font-size: 16px;
    line-height: 28px;
  }

  .crew-nav {
    margin-top: 40px;
  }

  .crew-image {
    width: 356.8px;
    height: 472px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -43px;
    z-index: -1;
    background-size: contain;
  }

  .crew-nav-link {
    width: 10px;
    height: 10px;
  }
}
