body {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
}

.destination-header {
  position: absolute;
  left: 166.5px;
  top: 212px;
}

.destination-header-number {
  font-weight: 700;
  opacity: 0.25;
  color: white;
}

.destination-header-text {
  margin-left: 28px;
  color: white;
}

.destination-info {
  width: 445px;
  position: absolute;
  left: 832px;
  top: 310px;
}

.destination-list {
  width: 100%;
}

.destination-link {
  color: white;
  text-decoration: none;
  font-family: "Barlow Condensed";
  font-size: 16px;
  letter-spacing: 2.7px;
  line-height: 19px;
  margin-right: 35px;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

.destination-link:hover .destination-link-hover
{
  display: block;
}

.destination-link-active {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  top: 30px;
  left: 0;
}

.destination-link-hover {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  top: 30px;
  left: 0;
  opacity: 0.5;
  display: none;
}

.destination-planet-name {
  margin-top: 37px;
}

.destination-planet-description {
  color: #D0D6F9;
  margin-top: 14px;
}

.destination-line {
  width: 100%;
  padding: 0;
  margin: 54px 0 0 0;
  opacity: 0.25;
  z-index: 1;
  display: block;
}

.destination-details {
  margin-top: 28px;
  position: relative;
}

.destination-details-container-1 {
  display: inline-block;
  margin-right: 79px;
}

.destination-details-container-2 {
  display: inline-block;
  margin-bottom: 62px;
}

.destination-image {
  background-repeat: no-repeat;
  background-position: center;
  width: 678px;
  height: 678px;
  position: absolute;
  top: 227px;
  left: 111px;
  z-index: -1;
}

.destination-image-moon {
  background-image: url(../assets/destination/image-moon.png);
}

.destination-image-mars {
  background-image: url(../assets/destination/image-mars.png);
}

.destination-image-europa {
  background-image: url(../assets/destination/image-europa.png);
}

.destination-image-titan {
  background-image: url(../assets/destination/image-titan.png);
}

@media only screen and (max-width: 1150px) {
  body {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }

  .destination-header {
    left: 38.5px;
    top: 136px;
    font-size: 20px;
  }

  .destination-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 220px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .destination-info {
    width: 80%;
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 670px) {
  body {
    background-image: url(../assets/destination/background-destination-mobile.jpg);
  }

  .destination-image {
    width: 170px;
    height: 170px;
  }

  .destination-info {
    top: 420px;
  }

  .destination-planet-name {
    margin-top: 20px;
  }

  .destination-planet-description {
    margin-top: 1px;
  }

  .destination-link {
    font-size: 15px;
    line-height: 25px;
    margin-right: 20px;
  }

  .destination-details {
    margin-top: 14px;
  }

  .destination-details-container-1 {
    display: block;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .destination-details-container-2 {
    display: block;
    margin-bottom: 30px;
  }

  .destination-line {
    margin: 14px 0 0 0;
  }
}
