body {
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-page-description {
  position: absolute;
  width: 450px;
  left: 165px;
  top: 387px;
}

.main-page-header {
  margin: 24px 0;
}

.main-page-text {
  color: #D0D6F9;
}

.main-page-link {
  text-decoration: none;
  color: black;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  position: absolute;
  height: 37px;
  left: 35.33%;
  right: 33.78%;
  top: calc(50% - 37px/2 + 0.5px);
  z-index: 1;
}

.main-page-link:hover + .main-page-link-background-hover {
  display: block;
}

.main-page-link-group {
  width: 450px;
  height: 450px;
  position: absolute;
  left: 801px;
  top: 407px;
}

.main-page-link-background {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 19.56%;
  right: 19.56%;
  top: 19.56%;
  bottom: 19.56%;
}

.main-page-link-background-hover {
  background-color: white;
  border-radius: 50%;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}

@media only screen and (max-width: 1150px) {
  .body {
    background-image: url(../assets/home/background-home-tablet.jpg);
  }

  .main-page-description {
    top: 202px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .main-page-link-group {
    left: 0;
    right: 0;
    top: 692px;;
    margin-left: auto;
    margin-right: auto;
    width: 242px;
    height: 242px;
  }

  .main-page-link {
    font-size: 20px;
    line-height: 37px;
    left: 19.01%;
    right: 19.83%;
    top: calc(50% - 37px/2 + 0.5px);
    z-index: 1;
    text-align: center;
  }
}
