.main-page-description {
  position: absolute;
  width: 450px;
  height: 382px;
  left: 165px;
  top: 387px;
}

.main-page-header {
  margin: 24px 0;
}

.main-page-text {
  color: #D0D6F9;
}

.main-page-link {
  text-decoration: none;
  color: black;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  position: absolute;
  top: calc(50% - 37px/2 + 0.5px);
  left: 24.83%;
}

.main-page-link-background {
  background-color: white;
  width: 274px;
  height: 274px;
  position: absolute;
  left: 1001px;
  top: 495px;
  border-radius: 50%;
}
