.nav-line {
  display: inline-block;
  width: 473px;
  position: absolute;
  top: 48px;
  left: 112px;
  padding: 0;
  margin: 0;
  opacity: 0.25;
  z-index: 1;
}

.nav-bar {
  height: 96px;
  position: relative;
  margin-top: 40px;
  margin-left: 55px;
  z-index: 999;
}

.nav-list {
  height: 100%;
  width: 78%;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(30px);
}

.nav-logo {
  position: absolute;
  left: 0;
  top: 24px;
}

.nav-links {
  position: absolute;
  top: 50%;
  right: 167px;
  transform: translateY(-50%);
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: "Barlow Condensed";
  font-size: 16px;
  letter-spacing: 2.7px;
  line-height: 19px;
  margin-right: 50px;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

.nav-link:hover .nav-link-hover
{
  display: block;
}

.nav-link-active {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  top: 55px;
  left: 0;
}

.nav-link-hover {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  top: 55px;
  left: 0;
  opacity: 0.5;
  display: none;
}

.index-style {
  font-weight: 700;
  margin-right: 11px;
}

.nav-dropdown-list {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(30px);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70%;
  right: 0;
  z-index: 999;
  display: none;
}

.nav-icon-hamburger {
  position: absolute;
  top: 33px;
  right: 24px;
  width: 24px;
  height: 21px;
  z-index: 999;
  display: none;
}

.nav-icon-close-hamburger {
  position: absolute;
  top: 33px;
  right: 26px;
}

.nav-link-hamburger {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 32px;
}

.index-style-hamburger {
  font-weight: 700;
  margin-left: 32px;
  margin-right: 11px;
}

.nav-hamburger-links {
  position: absolute;
  top: 118px;
}

@media only screen and (max-width: 1150px) {
  .nav-bar {
    margin-top: 0;
  }

  .nav-list {
    background: none;
    backdrop-filter: none;
  }

  .nav-line {
    display: none;
  }

  .nav-link {
    margin-right: 37px;
  }

  .index-style {
    display: none;
  }

  .nav-links {
    right: 40px;
  }
}

@media only screen and (max-width: 670px) {
    .nav-bar {
      width: 100%;
    }

    .nav-list {
      display: none;
    }

    .nav-icon-hamburger {
      display: block;
    }
}
